@import "tailwindcss";

.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/* nav design  */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1140px;
  margin: 0 auto;
}

nav ul {
  display: flex;
  font-size: 17px;
  gap: 20px;
  color: #8987a1;
  text-decoration: none;
}
.hero {
  width: 1140px;
  margin: 120px auto;
}
/* plan section  */
/* original  */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.original,
.pictures {
  width: 1140px;
  margin: 0 auto;
}
.badge {
  width: 286px;
  animation: spin 5s linear infinite;
}
.search{
    margin: 120px 0;
    width: full;
    height: 533px;
    background-image: url("../assets/news-letter-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
}

/* nav responsive  */
@media screen and (max-width: 576px) {
  .nav {
    width: 100%;
  }
  .hide-menu {
    display: none;
  }
  .hero {
    display: flex;
    flex-direction: column-reverse;
  }
  .badge{
    display: none;
  }
  .original,.pictures{
    width: 100%;
  }
}
